PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/shopnest
JWT_SECRET=JWT_SECRET=my_secret_shopnest_token_key_28
CLOUDINARY_CLOUD_NAME=csh0ndga
CLOUDINARY_API_KEY=751697783727917
CLOUDINARY_API_SECRET=**********
RAZORPAY_KEY_ID=rzp_test_TcCWoRmJTLgK42
RAZORPAY_KEY_SECRET=ClSomtLWv1SVonWFDRLmGaza
GMAIL_USER=syedkhalid2808@gmail.com
GMAIL_PASS=skgi cmzk oicv lzbe
FRONTEND_URL=http://localhost:3000
NODE_ENV=development